services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    BinSoul\Symfony\Bundle\Doctrine\:
        resource: '../../*'

    BinSoul\Symfony\Bundle\Doctrine\EventListener\EnableFiltersListener:
        tags: ['kernel.event_subscriber']

    BinSoul\Symfony\Bundle\Doctrine\EventListener\LinkableListener:
        public: true

    BinSoul\Symfony\Bundle\Doctrine\EventListener\SoftDeleteableListener:
        public: true

    BinSoul\Symfony\Bundle\Doctrine\EventListener\ArchivableListener:
        public: true

    BinSoul\Symfony\Bundle\Doctrine\EventListener\TimestampableListener:
        public: true
