services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    BinSoul\Symfony\Bundle\Doctrine\:
        resource: '../../*'

    BinSoul\Symfony\Bundle\Doctrine\EventListener\TimestampableListener:
        tags: ['doctrine.event_subscriber']

    BinSoul\Symfony\Bundle\Doctrine\EventListener\LinkableListener:
        tags: ['doctrine.event_subscriber']

    BinSoul\Symfony\Bundle\Doctrine\EventListener\SoftDeleteableListener:
        tags: ['doctrine.event_subscriber']
